- const menu = ['about', 'projects', 'contact', 'resume'];

header(data-role="header", data-position="fixed")
    a(href='/', id='logo-wrapper')
        include ../svg/logo.jade
    nav
        include ../svg/menu.jade
        ul
            each item in menu
                li(id='_#{item}_', class='_nav-item_')
                    if (item == 'resume')
                        a(href='/#{item}', target='_blank', data-ajax="false") #{item}
                    else
                        a(href='/#{item}', data-ajax="false") #{item}
