extends ./layouts/layout.jade

block content
    ._entity_
        ._entity-gallery_
            img(src='#{project.device.url}', alt='#{project.title}', class='_entity-image_ _entity-#{project.device.type}_')
            ._entity-thumbnails_
                for image in project.gallery
                    a(href='/media/b37b5674e3d09445a4d65889a79251ca6aab804b/gallery/#{image.path}', data-lightbox="gallery" data-title="#{image.caption}")
                        img(src='/media/b37b5674e3d09445a4d65889a79251ca6aab804b/gallery/#{image.path}', class='_entity-thumbnail_')
        span(class='_entity-title_') #{project.title}
        ._entity-tags_
            span Tools: 
            for tag in project.tags
                ._entity-tag_ #{tag}
        p !{project.description}
        if project.url
            p(class='_entity-url_') 
                strong Explore the Prototype: 
                a(href='#{project.url}', target='_blank', rel="external") #{project.url}
        if project.github
            p(class='_entity-url_') 
                strong Source Code: 
                a(href='#{project.github}', target='_blank', rel="external") #{project.github}
        a(href='/projects', data-ajax='false') &larr; BACK TO PROJECTS
