//- Sherry, BullionTracker, iReceptionist, Muir Woods Coffee House, Podcats, Galatic Space Race, FoodTop
extends ./layouts/layout.jade

block content
    //- h1 Project
    ._projects_
        for project in projects
            ._project-card_
                figure
                    img(src='#{project.thumbnail}', alt='#{project.title}')
                    figcaption
                        h2 #{project.title}
                        p #{project.brief}
                        a(href='/p/#{project._id}', data-ajax="false") View more

            //- div(class='_project-card_', data-location='/p/#{project._id}')
            //-     if project.thumbnail
            //-         div(class='_project-card-image_', style='background-image: url("#{project.thumbnail}");')
            //-     else
            //-         div(class='_project-card-image_', style='background-image: url("http://placehold.it/500x500");')
            //-     ._project-card-content_
            //-         span(class='_project-card-title_') #{project.title}
            //-         span(class='_project-card-brief_') #{project.brief}

